


.user-container {
    background: rgb(128, 128, 128, 0.3);
    cursor: pointer;
    transition-duration: 0.5s;
    text-align: center
}
.user-container:hover {
    background: rgb(128, 128, 100, 0.5);
}

.avatar {
    border-radius: 50%;
}
.avatar img {
    width: 200px
}

.user-name {
    font-size: 20px
}

.chat-button {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center
}
.chat-button a {
    background: green;
    color: white;
    width: 50px;
    text-align: center;
    margin: 10px 
}

.input-chat {
    margin: 10px 0px
}

.message-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: 5px;
    background: rgb(128, 128, 128, 0.3);
    transition-duration: 0.5s;
}
.message-body:hover {
    background: rgb(128, 128, 100, 0.5);
}