<template>
    <div class="container">
        <hr>
        <div class="col-sm-12">
            <div class="chat-container">
                <div class="message-body" v-for="(message, i) in messages" :key="i">
                    <div class="message">
                        {{i + 1}}. {{message.content}}
                    </div>
                    <div class="time">
                        {{message.created_at}}
                    </div>
                </div>
            </div>
            <!-- <textarea class="form-control" rows="15" readonly="">{{messages.join('\n')}}</textarea> -->
            <hr>
            <input type="text" class="form-control input-chat" v-model="textMessage" @keyup.enter="sendMessage">
        </div>        
    </div>
</template>

<script>
    export default {
        props: ['propsMessages'],
        data() {
            return {
                textMessage: '',
                messages: this.propsMessages
            }
        },
        mounted() {
            window.Echo.channel('chat')
                .listen('ChatMessage', ({message}) => {
                    this.messages.push(message)
                });
        },
        methods: {
            // Change standart format date 
            formatDate(date) {
                var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            },
            // Sending to server
            sendMessage() {

                var date = new Date();
                var now = this.formatDate(date);

                axios.post('/chat/messages', {'content': this.textMessage, 'created_at': now} );

                this.messages.push({'content': this.textMessage, 'created_at': now});

                this.textMessage = '';
            }
        }
    }
</script>
